
.cContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  
}

.cClippy {
  /* background-color: yellow; */
}

.chatArea {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  flex-direction: column;
}

.response {
  /* overflow: scroll; */
}

.chatArea > textarea {
  width: 98%;
  resize: none;
  min-height: 80px;
}

.cResizable {
  color: #000;
  background: #ffc;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  resize: both;
  overflow: auto;
  min-width: 124px;
  min-height: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.clippy {
  width: 124px;
  height: 93px;
}

/* lib/clippyjs/dist/main.css */
.clippy-balloon {
  z-index: 1000;
  cursor: pointer;
  position: fixed;

  background-color: red;
  background-repeat: no-repeat;
}

.clippy-balloon {
  color: #000;
  background: #ffc;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  top: -130px;
  resize: both;
  overflow: auto;
}
.clippy-content {
  max-width: 200px;
  min-width: 120px;
  font-family: Microsoft Sans, sans-serif;
  font-size: 10pt;
}
.clippy-tip {
  width: 10px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==) no-repeat;
  position: absolute;
  bottom: -16px;
  left: 20px;
}
.clippy-top-left .clippy-tip {
  margin-top: 0;
  margin-left: -50px;
  top: 100%;
  left: 100%;
}
.clippy-top-right .clippy-tip {
  background-position: -10px 0;
  margin-top: 0;
  margin-left: 50px;
  top: 100%;
  left: 0;
}
.clippy-bottom-right .clippy-tip {
  background-position: -10px -16px;
  margin-top: -16px;
  margin-left: 50px;
  top: 0;
  left: 0;
}
.clippy-bottom-left .clippy-tip {
  background-position: 0 -16px;
  margin-top: -16px;
  margin-left: -50px;
  top: 0;
  left: 100%;
}
