/* lib/clippyjs/dist/main.css */
.clippy,
.clippy-balloon {
  z-index: 1000;
  cursor: pointer;
  position: fixed;
}
.clippy-balloon {
  color: #000;
  background: #ffc;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
}
.clippy-content {
  max-width: 200px;
  min-width: 120px;
  font-family: Microsoft Sans, sans-serif;
  font-size: 10pt;
}
.clippy-tip {
  width: 10px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==) no-repeat;
  position: absolute;
}
.clippy-top-left .clippy-tip {
  margin-top: 0;
  margin-left: -50px;
  top: 100%;
  left: 100%;
}
.clippy-top-right .clippy-tip {
  background-position: -10px 0;
  margin-top: 0;
  margin-left: 50px;
  top: 100%;
  left: 0;
}
.clippy-bottom-right .clippy-tip {
  background-position: -10px -16px;
  margin-top: -16px;
  margin-left: 50px;
  top: 0;
  left: 0;
}
.clippy-bottom-left .clippy-tip {
  background-position: 0 -16px;
  margin-top: -16px;
  margin-left: -50px;
  top: 0;
  left: 100%;
}
